.disabled {
    pointer-events: none;
}

#head {
    margin-top: 40px;
    height: 400px;
}

    #head.mcguff-main {
        background: url('/images/11.jpg') no-repeat;
        background-size: cover;
        transition: background-image .5s;
        -moz-transition: background-image .5s;
        -webkit-transition: background-image .5s;
    }

    #head.mcguff-company {
        background: url('/images/22.jpg') no-repeat;
        background-size: cover;
        transition: background-image .5s;
        -moz-transition: background-image .5s;
        -webkit-transition: background-image .5s;
    }

    #head.mcguff-compounding {
        background: url('/images/11.jpg') no-repeat;
        background-size: cover;
        transition: background-image .5s;
        -moz-transition: background-image .5s;
        -webkit-transition: background-image .5s;
    }

h1 {
    margin-top: 100px;
}