.disabled{pointer-events: none;
   cursor: default;}
#head{background:#555;margin-top:80px;
      width:150px;
      height:40px;
}
#head.mcguff-main{background:#555;}
#head.mcguff-company{background:blue;}
#head.mcguff-compounding{background:#00ff90}
h1{margin-top:100px;}